.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.cookiecon-mobile-section {
  display: none;
}

.cookiecon-desktop-section {
  display: block;
}

.cookiecon-content-container {
  min-height: 350px;
}

.cookiecon-spinner-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.cookiecon-mandatory-text {
  font-weight: bold;
  margin-top: 2px;
}

.cookiecon-text-icon-heading {
  margin-bottom: 13px;
}

.cookiecon-footer-container-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.cookiecon-footer-container-relative {
  bottom: 0;
  width: 100%;
}

.cookiecon-full-width-container {
  width: 100%;
}

.cookiecon-modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 998;
}

@media only screen and (max-width: 480px) {
  .cookiecon-mobile-section {
    display: block;
  }

  .cookiecon-desktop-section {
    display: none;
  }

  .cookiecon-content-container {
    min-height: 350px;
  }
}